:root {
  --first-font: "Cardo", serif;
  --second-font: "Inter", sans-serif;
  --blue-background: #1b3764;
  --blue-text: #1b3764;
  --color-yellow: #ffca42;
  --color-white: #ffffff;
  --light-blue: #b4c7e7;
  --grey-color: #969aa0;
  --light-blue-background: #f4f8ff;
  --border-color: #dce1e9;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  /* width: 100%; */
  height: auto;
}

body {
  font-family: var(--first-font);
}

.container {
  max-width: 1330px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Header */

.header {
  background-color: var(--blue-background);
}

.header-container {
  display: flex;
  align-items: center;
}

.logo-wrapper {
  display: flex;
  margin-right: auto;
}

.header-logo {
  margin-right: 35px;
}

.header-logo-img {
}

.header-soc-list {
  display: flex;
  gap: 10px;
}

.header-soc-item {
  width: 45px;
  height: 45px;
  background-color: var(--color-white);
}

.header-soc-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.header-icon {
  cursor: pointer;
}

.nav-wrapper {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-right: 39px;
}

.header-nav-list {
  display: flex;
  gap: 47px;
}

.header-nav-item {
}

.header-nav-link {
  display: block;
  padding-top: 40px;
  padding-bottom: 43px;
  color: #f6f8fc;
  font-size: 17px;
  font-family: var(--second-font);
  line-height: calc(25.5 / 17);
  letter-spacing: 0.011em;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--color-yellow);
}

.header-cart-btn {
  margin-right: 51px;
  background-color: transparent;
  border: none;
}

.header-order-btn {
  min-width: 222px;
  height: 66px;
  color: var(--blue-text);
  font-size: 19px;
  font-family: var(--first-font);
  line-height: 28.5px;
  letter-spacing: 0.57px;
  text-transform: capitalize;
  border: 2px solid var(--color-yellow);
  background: var(--color-yellow);
  cursor: pointer;
}

/* Hero section */

.hero {
  background-color: var(--blue-background);
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero-container {
  display: flex;
  align-items: center;
}

.hero-subtitle {
  color: var(--color-white);
  font-size: 21px;
  line-height: calc(36 / 21);
  letter-spacing: 0.075em;
  text-transform: capitalize;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.hero-subtitle::before {
  content: "";
  display: block;
  width: 35px;
  height: 2px;
  background: var(--color-yellow);
  margin-right: 14px;
}

.hero-title {
  color: var(--color-white);
  font-size: 64px;
  line-height: calc(78 / 64);
  letter-spacing: 0.081em;
  margin-bottom: 24px;
}

.hero-desc {
  color: var(--light-blue);
  font-size: 18px;
  line-height: calc(28.5 / 18);
  margin-bottom: 42px;
  font-family: var(--second-font);
}

.hero-btn {
  margin-right: 51px;
}

.hero-link {
  color: var(--color-white);
  font-size: 19px;
  line-height: calc(30.4 / 19);
  letter-spacing: 0.024em;
  text-transform: capitalize;
  position: relative;
}

.hero-link::after {
  content: "";
  display: block;
  width: 152.328px;
  height: 1px;
  background: var(--color-white);
  position: absolute;
  left: 0;
  bottom: -9px;
}

.hero-list {
  margin-top: 47px;
  display: flex;
  gap: 60px;
}

.hero-item {
  display: flex;
  position: relative;
}

.hero-item::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: var(--color-yellow);
  border-radius: 50%;
  position: relative;
  margin-right: 10px;
  left: 0;
  top: 5px;
}

.hero-category {
  color: var(--color-white);
  font-size: 24px;
  line-height: calc(28.8 / 24);
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.hero-info {
  color: var(--light-blue);
  font-size: 17px;
  line-height: calc(27 / 17);
  font-family: var(--second-font);
}

.hero-img {
}

/* Books section */

.books {
  padding-top: 126px;
  padding-bottom: 150px;
}

.books-container {
}

.books-title {
  color: var(--blue-text);
  text-align: center;
  font-size: 42px;
  line-height: calc(50.4 / 42);
  text-transform: capitalize;
  margin-bottom: 96px;
  /* position: relative; */
}

.books-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: var(--color-yellow);
  margin: 0 auto;
  margin-top: 23px;
  /* position: absolute;
  left: 0;
  bottom: 0; */
}

.books-list {
  display: flex;
  gap: 20px;
}

.books-item {
  display: flex;
  gap: 30px;
  width: calc((100% - 20px) / 2);
}

.books-image {
}

.books-item-title {
  color: var(--blue-background);
  font-size: 32px;
  line-height: calc(38.4 / 32);
  letter-spacing: 0.02em;
  margin-bottom: 7px;
  margin-top: 38px;
}

.books-item-price {
  color: var(--color-yellow);
  font-size: 21px;
  font-family: var(--second-font);
  line-height: calc(33 / 21);
  margin-bottom: 17px;
}

.books-item-desc {
  color: var(--grey-color);
  font-size: 19px;
  font-family: var(--second-font);
  line-height: calc(28.5 / 19);
  margin-bottom: 13px;
  max-width: 287px;
}

.books-type {
  color: var(--blue-background);
  font-size: 24px;
  line-height: calc(28.8 / 24);
  margin-bottom: 27px;
  display: flex;
  position: relative;
}

.books-type::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: var(--color-yellow);
  border-radius: 50%;
  position: relative;
  margin-right: 10px;
  left: 0;
  top: 5px;
}

.books-btn {
  min-width: 206px;
  height: 66px;
  background-color: transparent;
  color: var(--blue-background);
  font-size: 19px;
  font-family: var(--first-font);
  line-height: calc(28.5 / 19);
  letter-spacing: 0.024em;
  border: 2px solid var(--color-yellow);
  cursor: pointer;
}

/* Trusted section */

.trusted {
  margin-top: 110px;
  margin-bottom: 126px;
}

.trusted-container {
}

.trusted-title {
  color: var(--blue-background);
  text-align: center;
  font-size: 42px;
  line-height: calc(50.4 / 42);
  text-transform: capitalize;
  margin-bottom: 76px;
}

.trusted-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: var(--color-yellow);
  margin: 0 auto;
  margin-top: 23px;
}

.trusted-list {
  display: flex;
  gap: 16px;
}

.trusted-list-item {
}

.trusted-img {
  margin: 0 auto;
  margin-bottom: 19px;
}

.trusted-subtitile {
  color: var(--blue-background);
  text-align: center;
  font-size: 24px;
  line-height: calc(28.8 / 24);
  margin-bottom: 19px;
}

.trusted-desc {
  color: var(--grey-color);
  text-align: center;
  font-size: 19px;
  font-family: var(--second-font);
  line-height: calc(28.5 / 19);
}

/* Order section */

.order {
  background-color: var(--blue-background);
  padding-top: 70px;
  padding-bottom: 70px;
}

.order-container {
  display: flex;
  align-items: center;
}

.order-title {
  color: var(--color-white);
  font-size: 45px;
  line-height: calc(54 / 45);
  text-transform: capitalize;
  margin-bottom: 54px;
}

.order-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: var(--color-yellow);
  margin-top: 24px;
}

.order-desc {
  color: var(--light-blue);
  font-size: 19px;
  font-family: var(--second-font);
  line-height: calc(28.5 / 19);
  margin-bottom: 27px;
}

.order-btn {
  min-width: 220px;
  height: 66px;
  background-color: transparent;
  color: var(--color-white);
  font-size: 19px;
  font-family: var(--first-font);
  line-height: calc(28.5 / 19);
  letter-spacing: 0.024em;
  border: 2px solid var(--color-yellow);
  cursor: pointer;
}

.order-img {
}

/* Learn section */

.learn {
}

.learn-container {
  padding-top: 136px;
  padding-bottom: 140px;
}

.learn-title {
  color: var(--blue-text);
  text-align: center;
  font-size: 42px;
  line-height: calc(50.4 / 42);
  text-transform: capitalize;
  margin-bottom: 96px;
}

.learn-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: var(--color-yellow);
  margin: 0 auto;
  margin-top: 23px;
}

.learn-wrapper {
  display: flex;
  gap: 89px;
}

.learn-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.learn-list-item {
  background: var(--light-blue-background);
  padding: 30px;
  /* width: 303px;
  height: 272px; */
  width: calc((100% - 30px) / 2);
}

.learn-number {
  color: var(--blue-text);
  font-size: 23px;
  line-height: calc(28.8 / 23);
  margin-bottom: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: var(--color-yellow);
  border-radius: 50%;
}

.learn-desc {
  color: var(--blue-text);
  font-size: 24px;
  line-height: calc(33.6 / 24);
  display: flex;
  position: relative;
}

/* .learn-desc::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: var(--color-yellow);
  border-radius: 50%;
  position: absolute;
  left: -15px;
  top: -80px;
} */

/* .hero-item {
  display: flex;
  position: relative;
}

.hero-item::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: var(--color-yellow);
  border-radius: 50%;
  position: relative;
  margin-right: 10px;
  left: 0;
  top: 5px;
} */

.img-wrapper {
  position: relative;
}

.learn-img {
}

.yellow-border {
  width: 535px;
  height: 632px;
  border: 10px solid var(--color-yellow);
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: -1;
}

/* Articles section */

.articles {
  background-color: var(--light-blue-background);
  padding-top: 126px;
  padding-bottom: 150px;
}

.articles-container {
}

.articles-title {
  color: var(--blue-background);
  text-align: center;
  font-size: 42px;
  line-height: calc(50.4 / 42);
  text-transform: capitalize;
  margin-bottom: 96px;
}

.articles-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: var(--color-yellow);
  margin: 0 auto;
  margin-top: 23px;
}

.articles-list {
  display: flex;
  gap: 20px;
}

.articles-list-item {
}

.articles-img {
  border-radius: 5px 5px 0px 0px;
}

.articles-item-wrapper {
  border-radius: 5px;
  background: var(--color-white);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.07);
  padding: 25px 30px;
}

.articles-subtitle {
  color: var(--blue-text);
  font-size: 24px;
  line-height: calc(33.6 / 24);
  letter-spacing: 0.015em;
  margin-bottom: 19px;
}

.articles-desc {
  color: var(--grey-color);
  font-size: 19px;
  font-family: var(--second-font);
  line-height: calc(30.4 / 19);
  margin-bottom: 11px;
}

.articles-link-wrapper {
  display: flex;
  justify-content: space-between;
}

.articles-link {
  color: var(--blue-text);
  font-size: 19px;
  line-height: calc(22.8 / 19);
  letter-spacing: 0.024em;
  text-transform: capitalize;
}

.articles-link::after {
  content: "";
  display: block;
  width: 94.047px;
  height: 2px;
  background: var(--blue-text);
  margin-top: 4px;
}

.articles-date {
  color: var(--blue-text);
  font-size: 16px;
  font-family: var(--second-font);
  line-height: calc(25.5 / 16);
}

/* Updates section */

.updates {
}

.updates-container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.updates-wrapper {
  padding-top: 96px;
  padding-bottom: 115px;
  border-radius: 5px;
  background: var(--color-yellow);
  box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.18);
}

.updates-title {
  color: var(--blue-text);
  text-align: center;
  font-size: 42px;
  line-height: calc(50.4 / 42);
  text-transform: capitalize;
  margin-bottom: 51px;
}

.updates-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: var(--blue-text);
  margin: 0 auto;
  margin-top: 23px;
}

.updates-desc {
  color: var(--blue-text);
  text-align: center;
  font-size: 18px;
  font-family: var(--second-font);
  line-height: calc(28.5 / 18);
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 49px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
}

.updates-form {
  /* margin: 0 auto; */
}

.updates-field {
}

.updates-input {
  width: 656px;
  height: 70px;
  border: 1px solid var(--border-color);
  background: var(--color-white);
  padding-left: 39px;
}

.updates-input::placeholder {
  color: var(--light-blue);
  font-size: 18px;
  font-family: Inter;
  line-height: calc(30.6 / 18);
  letter-spacing: 0.011em;
}

.updates-btn {
  width: 328px;
  height: 68px;
  border: 2px solid var(--blue-background);
  background: var(--blue-background);
  color: var(--color-white);
  text-align: center;
  font-size: 18px;
  font-family: Inter;
  line-height: calc(30.6 / 18);
  letter-spacing: 0.011em;
  margin-left: 16px;
}
